.tool-bar {
   color: #e7edea;
   height: 65px;
   width: 100%;
   background-color: #030d4f;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.tool-bar-margin {
   margin-left: 10px;
   margin-right: 10px;
}

.card {
   display: flex;
   flex-direction: column;
   align-items: center;

   background-color: #e7edea;
   border-radius: 5px;
   box-shadow: 0 0 10px black;

   width: 385px;
   margin: 25px;
}

.card-title {
   display: flex;
   align-items: center;
   justify-content: space-between;

   border-bottom: 1px solid rgba(128, 128, 128, 0.529);
   border-radius: 2px;

   height: 40px;
   width: 100%;
}

.card-content {
   display: flex;
   flex-direction: column;
   align-items: center;

   width: 100%;
}

.card-footer {
   display: flex;
   align-items: center;
   justify-content: center;

   border-top: 1px solid rgba(128, 128, 128, 0.529);
   border-radius: 2px;

   height: 20px;
   width: 100%;
   font-size: small;
}
