:root {
   --background: #e7edea;
   --blue: #030d4f;
   --white: #e7edea;
}

.tool-bar {
   color: var(--background);
   height: 65px;
   width: 100%;
   background-color: var(--blue);
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.tool-bar-content {
   margin-left: 10px;
   margin-right: 10px;
}

.content-block {
   background-color: var(--white);
   border-radius: 5px;
   max-width: 350px;
   box-shadow: 0 0 10px black;
   margin: 25px;
   flex: 0 0 100%;
}
