body {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   background-color: #ceecef;
   font-family: Verdana, Geneva, Tahoma, sans-serif;

   margin: 0;
}
