<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <link rel="stylesheet" type="text/css" href="../utils/components.css" />
      <link rel="stylesheet" type="text/css" href="./styles/main.css" />
      <title>Menu - Whatsapp</title>
   </head>
   <body>
      <div class="tool-bar">
         <img class="tool-bar-margin" src="./assets/menu.svg" />
         <p class="tool-bar-margin">Whatsapp - Bot</p>
      </div>

      <div class="kanban">
         <div class="card">
            <div class="card-header"></div>
            <div class="card-title">To Do</div>
            <div class="card-content">
               <div class="kanban-drag">
                  <div class="kanban-drag-content">task 3</div>
               </div>

               <div class="kanban-drag">
                  <div class="kanban-drag-content">task 4</div>
               </div>

               <div class="kanban-drag">
                  <div class="kanban-drag-content">task 5</div>
               </div>
            </div>
            <div class="card-footer">Tasks a fazer</div>
         </div>

         <div class="card">
            <div class="card-title">Doing</div>
            <div class="card-content">
               <div class="kanban-drag">
                  <div class="kanban-drag-content">task 2</div>
               </div>
            </div>
            <div class="card-footer">Realizando tasks</div>
         </div>

         <div class="card">
            <div class="card-title">Done</div>
            <div class="card-content">
               <div class="kanban-drag">
                  <div class="kanban-drag-content">task 1</div>
               </div>
            </div>
            <div class="card-footer">Tasks finalizadas</div>
         </div>
      </div>
   </body>
</html>
