<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <link rel="stylesheet" type="text/css" href="../utils/components.css" />
      <link rel="stylesheet" type="text/css" href="./styles/main.css" />
      <title>Menu - Whatsapp</title>
   </head>
   <body>
      <div class="tool-bar">
         <img class="tool-bar-content" src="../assets/menu-white.svg" />
         <p class="tool-bar-content">Gerenciador de Mensagens</p>
         <p class="tool-bar-content">Whatsapp - Bot</p>
      </div>

      <div class="content-block">
         <div class="content">teste conteudo</div>
      </div>
   </body>
</html>
